<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="../static/favicon.ico">
		
		<title>AK Capital - Dashboard</title>
		<meta name="author" content="gyurisc">
		<link rel="stylesheet" type="text/css" href="../static/css/jquery.gridster.css">
		<link rel="stylesheet" type="text/css" href="../static/css/slick.grid.css"/>
		<link rel="stylesheet" type="text/css" href="../static/controls/slick.columnpicker.css"/>
		<link rel="stylesheet" type="text/css" href="../static/controls/slick.pager.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/slick-default-theme.css"/>
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
		<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
		<link rel="stylesheet" href="../static/css/smoothness/jquery-ui-1.11.3.custom.css" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/RangeSlider-all.min.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/styles.css">

		<script type="text/javascript" src="../static/jquery.js"></script>
	</head>
	<body>
	<script>
		jQuery(window).load(function(){
			jQuery(".loadscreen").fadeOut(500);
		});
	</script>
	<div class="loadscreen">
		<div class="sk-cube-grid">
			<div class="sk-cube sk-cube1"></div>
			<div class="sk-cube sk-cube2"></div>
			<div class="sk-cube sk-cube3"></div>
			<div class="sk-cube sk-cube4"></div>
			<div class="sk-cube sk-cube5"></div>
			<div class="sk-cube sk-cube6"></div>
			<div class="sk-cube sk-cube7"></div>
			<div class="sk-cube sk-cube8"></div>
			<div class="sk-cube sk-cube9"></div>
		</div>
		<img src="../static/logo.png">
	</div>
	<p style="color: darkred;font-size: 12px;">ALPHA</p>
    <div class="row">
		<h1 class="page-header" id="nametag">{{ header }}</h1>
        <img src="../static/logo.png" style="height:100px;width:auto;">
    </div>
		<section class="demo">
			<div class="gridster">
				<!--<ul id="widgetpicker" class="widgetpicker">
					<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"><subtitle>Headlines</subtitle></li>			
					<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"><subtitle>Tracking</subtitle></li>
					<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"><subtitle>Detail</subtitle></li>
					<li data-row="1" data-col="1" data-sizex="1" data-sizey="1"><subtitle>Position</subtitle>
				</ul>
				<hr style="border-top: dashed 5px;"/> -->
				<ul id="maingrid">
					<li data-row="1" data-col="1" data-sizex="2" data-sizey="3"><div class="draggable">
																					<subtitle>Headlines</subtitle>
																					<div class="searchbox">
																						<i class="fas fa-2x fa-search" onclick="toggleFilterRow()"></i>
																						<input type="search" class="search" placeholder="Search.." id="txtSearch2">
																					</div>
																					<div class="clear-menu-btn">
																						<input type="checkbox">
																						<span class="top"></span>
																						<span class="middle"></span>
																						<span class="bottom"></span>
																						<span class="circle"></span>
																					</div><hr style="margin-bottom: 0px;">
																				</div>
																				<div id="myGrid" style="height:571px;width:auto;"></div>
																				<div id="pager" style="width:auto;height:20px;"></div>
																				<!--<div id="inlineFilterPanel" style="display:none;background:#dddddd;padding:3px;color:black;">
																					Show tasks with title including <input type="text" id="txtSearch2">
																					and % at least &nbsp;
																					<div style="width:100px;display:inline-block;" id="pcSlider2"></div>
																				</div>-->
                                                                                </li>
					<li data-row="1" data-col="1" data-sizex="2" data-sizey="3"><div class="draggable">
																					<subtitle>Detail</subtitle>
																					<div class="clear-menu-btn">
																						<input type="checkbox">
																						<span class="top"></span>
																						<span class="middle"></span>
																						<span class="bottom"></span>
																						<span class="circle"></span>
																					</div><hr style="margin-bottom: 0px;">
																				</div>
																				<div class="detail">
																					<div id="title"></div>
																					<div id="ref_img"></div>
																					<div id="desc"></div>
																					<div id="tags"></div>
																					<div id="tag_desc"></div>

																				</div>
																				</li>
					<li data-row="1" data-col="1" data-sizex="3" data-sizey="2"><div class="draggable">
																					<subtitle>Tracking</subtitle>
																					<div class="ticker-focus"></div>
																					<div class="clear-menu-btn">
																						<input type="checkbox">
																						<span class="top"></span>
																						<span class="middle"></span>
																						<span class="bottom"></span>
																						<span class="circle"></span>
																					</div><hr style="margin-bottom: 0px;">
																				</div>
																				<canvas id="myChart" height="330" width="600"></canvas>
																				</li>
					
					<li data-row="1" data-col="1" data-sizex="3" data-sizey="1"><div class="draggable">
																					<subtitle>Position</subtitle>
																					<div class="clear-menu-btn">
																						<input type="checkbox" onclick="removeWidget()">
																						<span class="top"></span>
																						<span class="middle"></span>
																						<span class="bottom"></span>
																						<span class="circle"></span>
																					</div><hr style="margin-bottom: 0px;">
																				</div>
																				</li>
				</ul>
			</div>
		</section>

		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
		<script type="text/javascript" src="../static/RangeSlider-all.min.js"></script>
		<script src="../static/lib/firebugx.js"></script>
		<script src="../static/lib/jquery-1.11.2.min.js"></script>
		<script src="../static/lib/jquery-ui-1.11.3.min.js"></script>
		<script src="../static/lib/jquery.event.drag-2.2.js"></script>
		<script type="text/javascript" src="../static/slick.core.js"></script>
		<script src="../static/plugins/slick.cellrangedecorator.js"></script>
		<script src="../static/plugins/slick.cellrangeselector.js"></script>
		<script src="../static/plugins/slick.cellselectionmodel.js"></script>
		<script src="../static/plugins/slick.rowselectionmodel.js"></script>
		<script type="text/javascript" src="../static/slick.dataview.js"></script>
		<script type="text/javascript" src="../static/slick.editors.js"></script>
		<script type="text/javascript" src="../static/slick.formatters.js"></script>
		<script type="text/javascript" src="../static/slick.grid.js"></script>
		<script type="text/javascript" src="../static/controls/slick.pager.js"></script>
		<script type="text/javascript" src="../static/controls/slick.columnpicker.js"></script>
		<script type="text/javascript" src="../static/jquery.gridster.js" charster="utf-8"></script>


		<script type="text/javascript">
			var gridster;

			$(function() {
				gridtster = $(".gridster > ul").gridster({
					widget_margins: [5, 5], 
					widget_base_dimensions: [200, 200],
					draggable: {
						handle: '.draggable'
					},
					min_cols: 6,
                    width: "auto"
				}).data('gridster');
			});

		</script>
		<script>
			var grid;
			var dataView;
			var indexNumber;
			var data = [];
			var columns = [
				{id: "source", name: "Source", field: "source", width: 100, editor: Slick.Editors.Text, sortable:true},
				//{id: "publishedAt", name: "Published", field: "publishedAt", width: 50, editor: Slick.Editors.Text, sortable:true},
				{id: "updatedShort", name: "Updated", field: "updatedShort", width: 70, editor: Slick.Editors.Text, sortable:true},
				{id: "title", name: "Headline", field: "title", width: 230, editor: Slick.Editors.Text, sortable:true},
				
			];
			var options = {
				enableCellNavigation: true,
				asyncEditorLoading: true,
				forceFitColumns: false,
				topPanelHeight: 25
			  };
			var sortcol = "title";
			var sortdir = 1;
			var percentCompleteThreshold = 0;
			var searchString = "";

			function requiredFieldValidator(value) {
				if (value == null || value == undefined || !value.length) {
				  return {valid: false, msg: "This is a required field"};
				}
				else {
				  return {valid: true, msg: null};
				}
			}
			function myFilter(item, args) {
				if (item["percentComplete"] < args.percentCompleteThreshold) {
					return false;
				}
				if (args.searchString != "" &&  item["title"].toLowerCase().indexOf(args.searchString) == -1 && item["source"].toLowerCase().indexOf(args.searchString) == -1 
										    &&  item["tag_0"].toLowerCase().indexOf(args.searchString) == -1 &&  item["tag_1"].toLowerCase().indexOf(args.searchString) == -1
											&&  item["tag_2"].toLowerCase().indexOf(args.searchString) == -1 &&  item["tag_3"].toLowerCase().indexOf(args.searchString) == -1
											&&  item["tag_4"].toLowerCase().indexOf(args.searchString) == -1 &&  item["tag_5"].toLowerCase().indexOf(args.searchString) == -1
											&&  item["tag_6"].toLowerCase().indexOf(args.searchString) == -1 &&  item["tag_7"].toLowerCase().indexOf(args.searchString) == -1)                                         
				{
				return false;
				}
				return true;
			}
			function percentCompleteSort(a, b) {
				return a["percentComplete"] - b["percentComplete"];
			}
			function comparer(a, b) {
				var x = a[sortcol], y = b[sortcol];
				return (x == y ? 0 : (x > y ? 1 : -1));
			}
			function toggleFilterRow() {
				$('.search').css({"display" : "inline-block", "width" : "100px"});
			}
			$(".grid-header .ui-icon")
				.addClass("ui-state-default ui-corner-all")
				.mouseover(function (e) {
					$(e.target).addClass("ui-state-hover")
			})
			.mouseout(function (e) {
				$(e.target).removeClass("ui-state-hover")
			});


			$.ajax({
				type: "GET",
				url: 'json/headlines',
				dataType: 'json',
				success: function (data) {
					dataView = new Slick.Data.DataView({inlineFilters: true});
					grid = new Slick.Grid("#myGrid", dataView, columns, options);
					grid.setSelectionModel(new Slick.CellSelectionModel());
					grid.onClick.subscribe(cellClicked);
					//var pager = new Slick.Controls.Pager(dataView, grid, $("#pager"));
  					//var columnpicker = new Slick.Controls.ColumnPicker(columns, grid, options);
					//grid.autosizeColumns()
					$("#inlineFilterPanel")
    					.appendTo(grid.getTopPanel())
    					.show();
					
					grid.onCellChange.subscribe(function (e, args) {
						dataView.updateItem(args.item.id, args.item);
					});
					grid.onAddNewRow.subscribe(function (e, args) {
						var item = {"num": data.length, "id": "new_" + (Math.round(Math.random() * 10000)), "title": "New task", "duration": "1 day", "percentComplete": 0, "start": "01/01/2009", "finish": "01/01/2009", "effortDriven": false};
						$.extend(item, args.item);
						dataView.addItem(item);
					});
					grid.onKeyDown.subscribe(function (e) {
						// select all rows on ctrl-a
						if (e.which != 65 || !e.ctrlKey) {
						return false;
						}
						var rows = [];
						for (var i = 0; i < dataView.getLength(); i++) {
						rows.push(i);
						}
						grid.setSelectedRows(rows);
						e.preventDefault();
					});
					grid.onSort.subscribe(function (e, args) {
						sortdir = args.sortAsc ? 1 : -1;
						sortcol = args.sortCol.field;
						if ($.browser.msie && $.browser.version <= 8) {
						// using temporary Object.prototype.toString override
						// more limited and does lexicographic sort only by default, but can be much faster
						var percentCompleteValueFn = function () {
							var val = this["percentComplete"];
							if (val < 10) {
							return "00" + val;
							} else if (val < 100) {
							return "0" + val;
							} else {
							return val;
							}
						};
						// use numeric sort of % and lexicographic for everything else
						dataView.fastSort((sortcol == "percentComplete") ? percentCompleteValueFn : sortcol, args.sortAsc);
						} else {
						// using native sort with comparer
						// preferred method but can be very slow in IE with huge datasets
						dataView.sort(comparer, args.sortAsc);
						}
					});
					// wire up model events to drive the grid
					dataView.onRowCountChanged.subscribe(function (e, args) {
						grid.updateRowCount();
						grid.render();
					});
					dataView.onRowsChanged.subscribe(function (e, args) {
						grid.invalidateRows(args.rows);
						grid.render();
					});
					dataView.onPagingInfoChanged.subscribe(function (e, pagingInfo) {
						var isLastPage = pagingInfo.pageNum == pagingInfo.totalPages - 1;
						var enableAddRow = isLastPage || pagingInfo.pageSize == 0;
						var options = grid.getOptions();
						if (options.enableAddRow != enableAddRow) {
						grid.setOptions({enableAddRow: enableAddRow});
						}
					});

					var h_runfilters = null;
					// wire up the slider to apply the filter to the model
					$("#pcSlider,#pcSlider2").slider({
						"range": "min",
						"slide": function (event, ui) {
						Slick.GlobalEditorLock.cancelCurrentEdit();
						if (percentCompleteThreshold != ui.value) {
							window.clearTimeout(h_runfilters);
							h_runfilters = window.setTimeout(updateFilter, 10);
							percentCompleteThreshold = ui.value;
						}
						}
					});

					// wire up the search textbox to apply the filter to the model
					$("#txtSearch,#txtSearch2").keyup(function (e) {
						Slick.GlobalEditorLock.cancelCurrentEdit();
						// clear on Esc
						if (e.which == 27) {
						this.value = "";
						}
						searchString = this.value.toLowerCase();
						updateFilter();
					});
					function updateFilter() {
						dataView.setFilterArgs({
						percentCompleteThreshold: percentCompleteThreshold,
						searchString: searchString
						});
						dataView.refresh();
					}
					$("#btnSelectRows").click(function () {
						if (!Slick.GlobalEditorLock.commitCurrentEdit()) {
						return;
						}
						var rows = [];
						for (var i = 0; i < 10 && i < dataView.getLength(); i++) {
						rows.push(i);
						}
						grid.setSelectedRows(rows);
					});

					// initialize the model after all the events have been hooked up
					dataView.beginUpdate();
					dataView.setItems(data);
					dataView.setFilterArgs({
						percentCompleteThreshold: percentCompleteThreshold,
						searchString: searchString
					});
					dataView.setFilter(myFilter);
					dataView.endUpdate();
					// if you don't want the items that are not visible (due to being filtered out
					// or being on a different page) to stay selected, pass 'false' to the second arg
					dataView.syncGridSelection(grid, true);
				}
			});

			

			

			function companyClicked(e, args) {
				stockSymbol = e;
				$('.ticker-focus')[0].innerHTML = stockSymbol;
				$.ajax({
					type: "GET",
					url: 'json/stock/get_intraday/' + stockSymbol,
					dataType: 'json',
					success: function (data) {
						var ctx = document.getElementById("myChart").getContext('2d');
						//var labels = [];
						//for (var i = 0, l = Object.keys(data).length; i < l; i++) {
						//	var label = Object.keys(data)[i].split(' ')[1];
						//	labels.push(label.substring(0, label.length - 3));
						//}


						window.myChart = new RangeSliderChart({
							chartCTX: ctx,
							type: 'line',
							class: 'my-chart-ranger', //Specifies a custom class you want applied to your sliders
							initial: [Object.keys(data.quote).length - (Object.keys(data.quote).length * 0.75), Object.keys(data.quote).length],
							chartData: {
								labels: Object.values(data.label),
								datasets: [{
									data: Object.values(data.quote),
									pointStyle: Object.values(data.pointStyle),
									pointRadius: Object.values(data.radius),
									pointBackgroundColor: Object.values(data.backgroundColor),
									pointBorderColor: Object.values(data.backgroundColor),
									
									}],

							},
							chartOpts: {
								legend: {
									display: false
								},
								tooltips: {
									callbacks: {
										label: function(tooltipItem) {
											return tooltipItem.yLabel;
											//to display the custom news point on it put it here
										}
									}
								},
								scales: {
									xAxes: [{
										ticks: {
											maxRotation: 0,
											minRotation: 0
										},
										display: false

									}],
									yAxes: [{
										ticks: {
											maxRotation: 0,
											minRotation: 0
										}
									}],
									}
							}
						});

					}
				});
			};

			function cellClicked(e, args) {
				var cell = args.cell;
				var row = args.row;
				var row_data = dataView.getItem(row);  // Read from dataView not the grid data
				var indexNumber = row_data['id'];
				$.ajax({
					type: "GET",
					url: 'json/detail/' + indexNumber,
					dataType: 'json',
					success: function (data) {
						$("#title").html("");
						$("#ref_img").html("");
						$("#desc").html("");
						$("#focus").html(""); // Put this here because it takes too long in the analysis bit
						$("#title").html("<a href=" + data['url'] + " target='_blank'><u><h3>" + data['title'] + "<u/><h3/></a>");
						$("#ref_img").html("<img src=" + data['urlToImage'] + ">");
						$("#desc").html("<p>" + data['description'] + "</p><hr>");
						
					}
				});
				$.ajax({
					type: "GET",
					url: 'json/detail/analysis/' + indexNumber,
					dataType: 'json',
					success: function(data) {
						var tags = data['tags'].split(',')
						var output = '';
						var descOutput = [];
						for (var i = 0, l = tags.length - 1; i < l; i++) {
							if(data['tag_' + i ]['stockSymbol']) {
								output += '<button class="focus" style="background-color:red;" class="tag_' + i + '" onclick=tagClicked(".d_tag_' + i + '-' + data['tag_' + i ]['stockSymbol'] + '")><p>' + tags[i] + '</p></button>';
							}
							else {
								output += '<button class="focus" class="tag_' + i + '" onclick=tagClicked(".d_tag_' + i + '-' + data['tag_' + i ]['stockSymbol'] + '")><p>' + tags[i] + '</p></button>';
							}
							descOutput += "<div class='d_tag_" + i + "'><p>" + data['tag_' + i]['desc'] + "</p></div>";
						}
						
						$("#tags").html(output);
						$("#tag_desc").html(descOutput);
						

						for (var i = 0, l = tags.length - 1; i < l; i++) {
							$(".d_tag_" + i).hide();
						}

						if (window.myChart.chart) {
							window.myChart.chart.destroy();
							window.myChart.sliderElement.remove();
							$('.ticker-focus')[0].innerHTML = "";
						}

						
					}
				});
			};

			function tagClicked(tag) {
				if (window.myChart.chart) {
					window.myChart.chart.destroy();
					window.myChart.sliderElement.remove();
				}
				
				for (var i = 0; i < $('#tag_desc').children.length; i++) {
					$('d_tag_' + i).css({"display" : "none"});
				}
				$(tag.split('-')[0]).css({"display" : "block"});
				if (tag.split('-')[1] != 'null') {
					companyClicked(tag.split('-')[1]);
				}
			}

			$('.menu').click (function(){
				$(this).toggleClass('open');
			});

			
		</script>
	</body>
</html>